version: '3'
services:
  compose-proxy:
    build:
      context: .
      dockerfile: docker/compose-proxy/Dockerfile
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker-compose.yml:/app/docker-compose.yml
      - ./docker:/app/docker
  test:
    build: .
    environment: 
      RQLITE_HOSTS: http://rqlite-master:4001,http://rqlite-replicate-0,http://rqlite-replicate-1:4001
    volumes:
      - ./es6:/test/es6
    depends_on:
      - rqlite-master
      - rqlite-replicate-0
      - rqlite-replicate-1
  rqlite-master:
    build:
      context: ./docker/rqlite-master
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "http://rqlite-master:4001/status"]
  rqlite-replicate-0:
    build:
      context: ./docker/rqlite-replicate-0
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "http://rqlite-replicate-0:4001/status"]
  rqlite-replicate-1:
    build:
      context: ./docker/rqlite-replicate-1
      dockerfile: Dockerfile
    healthcheck:
      test: ["CMD", "curl", "http://rqlite-replicate-1:4001/status"]
